@font-face {
    font-family: 'Montserrat-Regular';
    src: url('Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Slabo27px-Regular';
    src: url('Slabo27px-Regular.ttf');
}

@font-face {
    font-family: 'DKLemonYellowSun';
    src: url('DKLemonYellowSun.otf');
}
@font-face {
    font-family: 'Economica-Regular';
    src: url('Economica-Regular.ttf');
}


body{
    background-image:url("images/others/ciel.jpg");
	background-attachment: fixed;
}

h1{
    font-family:'DKLemonYellowSun','helvetica';
    text-align: center;
    font-size: 850%;
    color: #04054a;
    position:absolute;
    top:17%;
    left:28%;
    
}

h2{
    font-family: 'DKLemonYellowSun';
    text-align: center;
    font-size: 350%;
    color: white;
    position: absolute;
    top: 45%;
    left: 31%;
    width: 40%;}

h3{
    font-family: 'Economica-Regular','helvetica';
    font-size: 350%;
    color: white;
    position: center;
}


.list{
    display: inline-block;
    flex: 1.2;
    position: absolute;
    background-color: #04054a;
    box-shadow: 0px 2px 5px #030828;
    border-radius: 5px;
    padding: 1%;
    color: white;
    font-size: 0.9em;
    bottom:8%;
    text-align: center;
    width: 15%;
    height: 600px;
    font-family: 'Economica-Regular';
}
.list li{
    text-align:center;
    margin-left: 1px;

}

#connexion li{
    padding-top: 15%;

}


#connexion{
    
top:5%;
left:5%;

}


#inscription{

top:5%;
 right: 5%;

}


ul{
    position: center;
    padding-left: 0px;
    list-style-type: none;
}

#go
{
    font-family: 'Economica-Regular';
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px white;
}
#renitialiser
{
    font-family: 'Economica-Regular';
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px white;
}

form input{
     border-radius:5px;
}
form select{
     border-radius:5px;
}
    @media all and (max-width: 1024px)
{

    h1
    {
    font-size: 40pt; 
    left: 40%;
    }

    h2
    {
    font-size: 20pt;
    left: 33%;
    top: 28%;
    }

    h3
    {
        font-size: 15pt;
    } 
    #connexion
    {
        left: 0px;
    }

    #inscription
    {
        right: 0px;
    }

    .list{
        width: 150px;
    }
}

    