@font-face {
    font-family: 'Montserrat-Regular';
    src: url('Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Slabo27px-Regular';
    src: url('Slabo27px-Regular.ttf');
}

@font-face {
    font-family: 'DKLemonYellowSun';
    src: url('DKLemonYellowSun.otf');
}
@font-face {
    font-family: 'Economica-Regular';
    src: url('Economica-Regular.ttf');
}

body{
    background-image:url("images/others/fond1.jpg");
    background-attachment: fixed;
}


h3{
        font-family:'DKLemonYellowSun','helvetica';
        font-size: 50px;
        color: #04054a;
        position: fixed;
        left: 6%;
        top:3%;
        margin-top: 0%;
}

h6{
    font-family: 'DKLemonYellowSun';
    font-size: 26.5px;
    color: white;
    position: fixed;
    left: 6%;
    top: 9%;
    margin-top: 1%;
}

nav{
    font-family: 'Economica-Regular';
    position: fixed;
    right: 1%;
    top:3%;
    margin-top: 0%;
    padding-left:0%;
    padding-right:0%;
    background-color: #04054a;
    box-shadow: 0px 2px 5px #030828;
    border-radius: 5px;
    font-size: 1em;
    z-index: 1;
}

#search
{
    margin-top: 2%;
    border-radius: 5px;
}
#search_button
{
    margin-top: 2%;
    border-radius: 5px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 0%;
    padding-left: 20px;
    padding-right:20px;
}

nav a
{
    font-size: 25px;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #2ba0d1;
    border-bottom: 3px solid #2ba0d1;
}


#here{
    color: #2ba0d1;

}


#choice li
{
    
    font-family: 'Economica-Regular';
    text-decoration: none;
    list-style: none;
    font-size: 40px;
    text-align: center;
    background-color: #04054a;
    width: 25%;
    position: absolute;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 0.5%;
    display: inline-block;
}
#choice a
{
    color: white;
}

#choice1
{
    color: white;
    margin-top: 25%;
    margin-left: 17%;
}

#choice2
{
    color: white;
    margin-top: 25%;
    margin-left: 50%;
}

#choice1:hover{
    color: #2ba0d1;
    border-bottom: 3px solid #2ba0d1;
}
#choice2:hover{
    color: #2ba0d1;
    border-bottom: 3px solid #2ba0d1;
}


    @media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }
}


@media screen and (max-width: 570px)
{
    h3{
        display: none;
    }
    h6{
        display: none;
    }

}
