@font-face {
    font-family: 'Montserrat-Regular';
    src: url('Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Slabo27px-Regular';
    src: url('Slabo27px-Regular.ttf');
}

@font-face {
    font-family: 'DKLemonYellowSun';
    src: url('DKLemonYellowSun.otf');
}
@font-face {
    font-family: 'Economica-Regular';
    src: url('Economica-Regular.ttf');
}

body{
    background-image:url("images/others/fond1.jpg");
    background-attachment: fixed;
}


h3{
        font-family:'DKLemonYellowSun','helvetica';
        font-size: 50px;
        color: #04054a;
        position: fixed;
        left: 6%;
        top:3%;
        margin-top: 0%;
}

h6{
    font-family: 'DKLemonYellowSun';
    font-size: 26.5px;
    color: white;
    position: fixed;
    left: 6%;
    top: 9%;
    margin-top: 1%;
}

nav{
    font-family: 'Economica-Regular';
    position: fixed;
    right: 1%;
    top:3%;
    margin-top: 0%;
    padding-left:0%;
    padding-right:0%;
    background-color: #04054a;
    box-shadow: 0px 2px 5px #030828;
    border-radius: 5px;
    font-size: 1em;
    z-index: 1;
}

#search
{
    margin-top: 2%;
    border-radius: 5px;
}

#search_button
{
    margin-top: 2%;
    border-radius: 5px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 0%;
    padding-left: 20px;
    padding-right:20px;
}

nav a
{
    font-size: 25px;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #2ba0d1;
    border-bottom: 3px solid #2ba0d1;
}


#here{
    color: #2ba0d1;

}

form input{
     border-radius:5px;
}
select{
     border-radius:5px;
}

.pt{
    width: 600px;
    height: auto;
    background-color: #04054a;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 40%;
    box-shadow: 0px 2px 5px #030828;
    border-radius: 5px;
    font-family: 'Economica-Regular';
    color: white;
    background:url("images/others/wood.jpg") repeat fixed 100%;
    background-size: 10%;
}


#mylist{
	font-family: 'Economica-Regular';
    color: white;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 6%;
    position: absolute;
    list-style: none;
    text-align: center;
    position: fixed;
	text-decoration: none;
	background-color: #04054a;
	width: 15%;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 1%;
	
}


.com{
    float: right;
    padding-right: 10%;
    padding-top: 5%;
}

#text{
    float: right;
    text-align: center;
    padding-right: 3%;
    padding-top: 8%;

}

#legende
{
    font-size: 14pt;
    padding-top: 0%;
}

#infos
{
    font-size: 12px;
    padding-top: 1%;
}

#commentaires{

    border-radius: 5px;


}


    @media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }

	#mylist{
        width: 150px;
    }
	
    .pt
    {
        border-bottom: 0;
        margin-right: 0px;
    }

    .pt #text
    {
        display: none;
    }
   
    
}


@media screen and (max-width: 570px)
{
    h3{
        display: none;
    }
    h6{
        display: none;
    }

    #mylist{
        margin-top: 300px;
    }

    .pt{
        display: none;
    }
}
