@font-face {
    font-family: 'Montserrat-Regular';
    src: url('Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Slabo27px-Regular';
    src: url('Slabo27px-Regular.ttf');
}

@font-face {
    font-family: 'DKLemonYellowSun';
    src: url('DKLemonYellowSun.otf');
}
@font-face {
    font-family: 'Economica-Regular';
    src: url('Economica-Regular.ttf');
}

body{
    background-image:url("images/others/fond2.jpg");
    background-repeat: no-repeat;
}


h3{
	    font-family:'DKLemonYellowSun','helvetica';
	    font-size: 50px;
    	color: #04054a;
    	position: fixed;
    	left: 6%;
    	top:3%;
    	margin-top: 3px;
}
h6{
    font-family: 'DKLemonYellowSun';
    font-size: 26.5px;
    color: white;
    position: fixed;
    left: 6%;
    top: 9%;
    margin-top: 18px;
}

nav{
    font-family: 'Economica-Regular';
    position: fixed;
    right: 1%;
    top:3%;
    margin-top: 3px;
    padding-left:0px;
    padding-right:0px;
    background-color: #04054a;
    box-shadow: 0px 2px 5px #030828;
    border-radius: 5px;
    font-size: 1em;


}

#search
{
    margin-top: 5px;

}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 1px;
    padding-left: 20px;
    padding-right:20px;
}


nav a
{
    font-size: 25px;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #2ba0d1;
    border-bottom: 3px solid #2ba0d1;
}

#here{
    color: #2ba0d1;

}


#mylist{
	color: white;
	font-family: 'Economica-Regular';
	text-decoration: none;
	list-style: none;
	font-size: 20px;
	text-align: center;
	background-color: #04054a;
	margin-top: 150px;
	margin-left: 45%;
	width: 250px;
	position: relative;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
}

form input{
	 border-radius:5px;
}
select{
	 border-radius:5px;
}